name: Win32 CMake build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Set up MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x86

    - name: Configure CMake
      run: cmake -S . -B build -G "Visual Studio 17 2022" -A Win32 -T v143 -Wno-deprecated

    - name: Build
      run: cmake --build build --config Release --parallel

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Win32-VS2022-Release
        path: build/bin/${{ github.event.repository.name }}/Release